@model CMSNews.Models.ViewModels.NewsGroupViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblNewsGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsGroupId" />
            <div class="form-group">
                <label asp-for="NewsGroupTitle" class="control-label"></label>
                <input asp-for="NewsGroupTitle" class="form-control" />
                <span asp-validation-for="NewsGroupTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/Image/news-group/@Model.ImageName" alt="" class="img60x60" id="impPrev" />
                <input type="file" id="imgUpload" name="imgUpload" onchange="showPreview(this)"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
