
@{
    ViewData["Title"] = "پنل مدیریت سایت";
}

<h2>پنل مدیریت</h2>
<div class="d-flex flex-column gap-5 p-5">
    <a asp-action="Index" asp-controller="newsgroups" asp-area="Admin">گروه خبری</a>
    <a asp-action="Index" asp-controller="news" asp-area="Admin">اخبار</a>
    <a asp-action="Index" asp-controller="newsgroups" asp-area="Admin">home index</a>
    <a asp-action="Index" asp-controller="newsgroups" asp-area="Admin">home index</a>

</div>

