
@{
    ViewData["Title"] = "وبسایت خبری";
}

<h2>صفحه اصلی سایت من</h2>
@if(User.Identity.IsAuthenticated){
    <a asp-action="Index" asp-controller="Default" asp-area="Admin">hello</a>
}
else
{
    <a asp-action="Register" asp-controller="Account">hello</a>
}

